<div class="modal" tabindex="-1" role="dialog" id="modalPrincipal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body text-center">
        <i class="fas fa-futbol fa-6x fa-spin"></i>
      </div>
      <div class="text-center">
        <h2>Loading ...</h2>
      </div>
    </div>
  </div>
</div>